In [25]:
import pandas as pd
import requests

In [26]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [27]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [42]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,174.665,8.709,19075
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,137.888,8.700,25070
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,93.397,8.590,11510
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,91.073,8.572,14858
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,48.840,8.547,4295

In [43]:
df = pd.DataFrame

In [44]:
df

pandas.core.frame.DataFrame

In [ ]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [48]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,3600,I Still Know What You Did Last Summer,"Ever since killing the Fisherman one year ago,...",1998-11-13,20.767,5.327,1370
1,1792,Stuck on You,"In Martha's Vineyard, Mass., conjoined twins W...",2003-12-10,15.321,5.300,616
2,37498,Knock Off,"Marcus Ray, a sales representative for ""V SIX""...",1998-09-04,23.933,5.300,324
3,44564,The Dilemma,Longtime friends Ronny and Nick are partners i...,2011-01-13,11.117,5.321,795
4,8487,Wild Wild West,Legless Southern inventor Dr. Arliss Loveless ...,1999-06-30,38.060,5.319,3113
5,341392,Lolo,"On holiday in the south of France, chic Parisi...",2015-09-03,12.470,5.300,355
6,38319,Your Highness,"A fantasy movie about an arrogant, lazy prince...",2011-04-08,21.470,5.317,1232
7,339103,Gotti,John Gotti rises to the top of the New York un...,2018-06-14,14.331,5.300,571
8,14113,Zoom,Jack Shepard is an out-of-shape auto shop owne...,2006-08-11,23.435,5.300,564
9,323020,Bis,Éric and Patrice have been friends since high ...,2015-02-18,9.031,5.300,527
10,288281,A Good Marriage,"After 25 years of a good marriage, what will D...",2014-10-03,20.325,5.300,416
11,888,The Flintstones,Modern Stone Age family the Flintstones hit th...,1994-05-26,48.345,5.312,2276
12,23966,Deadgirl,When high school misfits Rickie and JT decide ...,2008-09-06,17.045,5.300,318
13,259018,Behaving Badly,Teenager Rick Stevens is willing to do whateve...,2014-04-14,15.528,5.300,553
14,100241,"I, Frankenstein","200 years after his shocking creation, Dr. Fra...",2014-01-22,33.781,5.309,1781
15,14405,Beverly Hills Chihuahua,A pampered Beverly Hills chihuahua named Chloe...,2008-10-03,32.551,5.300,985
16,11568,Blues Brothers 2000,"Finally released from prison, Elwood Blues is ...",1998-02-05,24.525,5.300,618
17,13121,Teeth,Dawn is an active member of her high-school ch...,2008-01-18,26.082,5.300,679
18,9876,Stop! Or My Mom Will Shoot,A tough police sergeant's mother comes to visi...,1992-02-21,27.474,5.305,935
19,242076,The Bag Man,A criminal waits in a seedy motel for his boss...,2014-02-28,19.533,5.303,320
20,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,174.665,8.709,19075
21,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,137.888,8.700,25070
22,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,93.397,8.590,11510
23,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,91.073,8.572,14858
24,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,48.840,8.547,4295
25,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,50.715,8.545,7842
26,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,128.895,8.540,15190
27,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,84.476,8.514,16750
28,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,134.554,8.513,31029
29,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,85.386,8.509,16205
30,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,91.544,8.503,10553
31,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,88.022,8.489,26237
32,122,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,2003-12-01,119.041,8.476,22669
33,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,112.517,8.476,25764
34,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-23,75.584,8.471,7918
35,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,69.736,8.466,11949
36,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-15,0.600,8.456,4974
37,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,48.785,8.455,12393
38,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,47.721,8.500,3311
39,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,39.836,8.448,4030

In [49]:
df.shape

(40, 7)

In [50]:
df.to_csv

<bound method NDFrame.to_csv of         id                                          title  \
0     3600          I Still Know What You Did Last Summer
1     1792                                   Stuck on You
2    37498                                      Knock Off
3    44564                                    The Dilemma
4     8487                                 Wild Wild West
5   341392                                           Lolo
6    38319                                  Your Highness
7   339103                                          Gotti
8    14113                                           Zoom
9   323020                                            Bis
10  288281                                A Good Marriage
11     888                                The Flintstones
12   23966                                       Deadgirl
13  259018                                 Behaving Badly
14  100241                                I, Frankenstein
15   14405                        Beverly Hills Chihuahua
16   11568                            Blues Brothers 2000
17   13121                                          Teeth
18    9876                     Stop! Or My Mom Will Shoot
19  242076                                    The Bag Man
20     238                                  The Godfather
21     278                       The Shawshank Redemption
22     240                          The Godfather Part II
23     424                               Schindler's List
24   19404                    Dilwale Dulhania Le Jayenge
25     389                                   12 Angry Men
26     129                                  Spirited Away
27  496243                                       Parasite
28     155                                The Dark Knight
29     497                                 The Green Mile
30  372058                                     Your Name.
31     680                                   Pulp Fiction
32     122  The Lord of the Rings: The Return of the King
33      13                                   Forrest Gump
34     429                 The Good, the Bad and the Ugly
35     769                                     GoodFellas
36   12477                         Grave of the Fireflies
37     637                              Life Is Beautiful
38     346                                  Seven Samurai
39   11216                                Cinema Paradiso

                                             overview release_date  \
0   Ever since killing the Fisherman one year ago,...   1998-11-13
1   In Martha's Vineyard, Mass., conjoined twins W...   2003-12-10
2   Marcus Ray, a sales representative for "V SIX"...   1998-09-04
3   Longtime friends Ronny and Nick are partners i...   2011-01-13
4   Legless Southern inventor Dr. Arliss Loveless ...   1999-06-30
5   On holiday in the south of France, chic Parisi...   2015-09-03
6   A fantasy movie about an arrogant, lazy prince...   2011-04-08
7   John Gotti rises to the top of the New York un...   2018-06-14
8   Jack Shepard is an out-of-shape auto shop owne...   2006-08-11
9   Éric and Patrice have been friends since high ...   2015-02-18
10  After 25 years of a good marriage, what will D...   2014-10-03
11  Modern Stone Age family the Flintstones hit th...   1994-05-26
12  When high school misfits Rickie and JT decide ...   2008-09-06
13  Teenager Rick Stevens is willing to do whateve...   2014-04-14
14  200 years after his shocking creation, Dr. Fra...   2014-01-22
15  A pampered Beverly Hills chihuahua named Chloe...   2008-10-03
16  Finally released from prison, Elwood Blues is ...   1998-02-05
17  Dawn is an active member of her high-school ch...   2008-01-18
18  A tough police sergeant's mother comes to visi...   1992-02-21
19  A criminal waits in a seedy motel for his boss...   2014-02-28
20  Spanning the years 1945 to 1955, a chronicle o...   1972-03-14
21  Framed in the 1940s for the double murder of h...   1994-09-23
22  In the continuing saga of the Corleone crime f...   1974-12-20
23  The true story of how businessman Oskar Schind...   1993-12-15
24  Raj is a rich, carefree, happy-go-lucky second...   1995-10-20
25  The defense and the prosecution have rested an...   1957-04-10
26  A young girl, Chihiro, becomes trapped in a st...   2001-07-20
27  All unemployed, Ki-taek's family takes peculia...   2019-05-30
28  Batman raises the stakes in his war on crime. ...   2008-07-16
29  A supernatural tale set on death row in a Sout...   1999-12-10
30  High schoolers Mitsuha and Taki are complete s...   2016-08-26
31  A burger-loving hit man, his philosophical par...   1994-09-10
32  Aragorn is revealed as the heir to the ancient...   2003-12-01
33  A man with a low IQ has accomplished great thi...   1994-06-23
34  While the Civil War rages on between the Union...   1966-12-23
35  The true story of Henry Hill, a half-Irish, ha...   1990-09-12
36  In the final months of World War II, 14-year-o...   1988-04-15
37  A touching story of an Italian book seller of ...   1997-12-20
38  A samurai answers a village's request for prot...   1954-04-26
39  A filmmaker recalls his childhood, when he fel...   1988-11-17

    popularity  vote_average  vote_count
0       20.767         5.327        1370
1       15.321         5.300         616
2       23.933         5.300         324
3       11.117         5.321         795
4       38.060         5.319        3113
5       12.470         5.300         355
6       21.470         5.317        1232
7       14.331         5.300         571
8       23.435         5.300         564
9        9.031         5.300         527
10      20.325         5.300         416
11      48.345         5.312        2276
12      17.045         5.300         318
13      15.528         5.300         553
14      33.781         5.309        1781
15      32.551         5.300         985
16      24.525         5.300         618
17      26.082         5.300         679
18      27.474         5.305         935
19      19.533         5.303         320
20     174.665         8.709       19075
21     137.888         8.700       25070
22      93.397         8.590       11510
23      91.073         8.572       14858
24      48.840         8.547        4295
25      50.715         8.545        7842
26     128.895         8.540       15190
27      84.476         8.514       16750
28     134.554         8.513       31029
29      85.386         8.509       16205
30      91.544         8.503       10553
31      88.022         8.489       26237
32     119.041         8.476       22669
33     112.517         8.476       25764
34      75.584         8.471        7918
35      69.736         8.466       11949
36       0.600         8.456        4974
37      48.785         8.455       12393
38      47.721         8.500        3311
39      39.836         8.448        4030  >